@keyframes circleAniMove1 {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 80px;
        height: 80px;
    }
}

@keyframes circleAniMove2 {
    0% {
        width: 80px;
        height: 80px;
    }
    100% {
        width: 160px;
        height: 160px;
    }
}

@keyframes circleAniMove3 {
    0% {
        width: 160px;
        height: 160px;
    }
    100% {
        width: 233px;
        height: 233px;
    }
}

.circleAni1 img {
    width: 0;
    height: 0;
    animation: circleAniMove1 1s infinite;
}

.circleAni2 img {
    width: 0;
    height: 0;
    animation: circleAniMove2 1s infinite;
}

.circleAni3 img {
    width: 0;
    height: 0;
    animation: circleAniMove3 1s infinite;
}

.circleAniBox {
    position: relative;
    background: #102422;
    width: 300px;
    height: 300px;
    .circleAni {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 233px;
        height: 233px;
    }

    .circleAni1 {
        > img {
            width: 61px;
            height: 61px;
        }
    }

    .circleAni2 {
        > img {
            width: 143px;
            height: 143px;
        }
    }

    .circleAni3 {
        > img {
            width: 233px;
            height: 233px;
        }
    }
}
