.tag_cloud_wrapper {
    width: 500px;
    height: 500px;
    padding-top: 80px;
    padding-left: 50px;
    border: 1px solid #ddd;
    background: #104e8b;
    .tag_cloud_item {
        margin: 5px;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 200px;
        font-weight: bold;
        font-family: 'PingFang-SC-Medium';
    }
}
