body {
    background-color: #1c734e;
}
.container {
    position: relative;
    padding-top: 30px;
    h1 {
        flex: none;
        font-size: 50px;
        text-align: center;
        color: #2dd885;
    }
    .navContent {
        margin-top: 50px;
        .navBox {
            display: flex;
            margin-bottom: 30px;
            width: 100%;
            a {
                width: 250px;
                height: 60px;
                line-height: 60px;
                font-size: 25px;
                text-decoration: none;
                color: #305945;
                text-align: center;
                &.linkActive {
                    color: #70fcb8;
                }
            }
        }
        .contentBox {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}
