.cssSlide {
    width: 882px;
    height: 86px;
    margin: 200px auto;
    overflow: hidden;
    & > ul {
        /* 设置ul的宽度为2倍div的宽度 */
        width: 200%;
        list-style: none;

        /* 动画属性 */
        animation: imgMove 5s linear infinite;
        &:hover {
            animation-play-state: paused;
        }
        & > li {
            width: 126px;
            float: left;
        }
    }
}

/* 创建动画 */
@keyframes imgMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-882px);
    }
}
