.carWrapper {
    position: relative;
    top: 317px;
    margin-left: 50px;
    padding: 0;

    .car {
        margin: 0 auto;
        width: 400px;
        .carBody {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            width: 238px;
            height: 54px;
            background: #f06043;
            border-radius: 30px;
            animation: car 0.5s infinite linear;
            .adorn1 {
                position: absolute;
                top: 12px;
                left: -1px;
                width: 17px;
                height: 6px;
                background: #d24629;
                border-radius: 50%;
                transform: rotate(-60deg);
            }
            .adorn2 {
                position: absolute;
                top: 20px;
                left: 86px;
                width: 25px;
                height: 5px;
                background: #fff;
                border-radius: 10px;
            }
            .adorn3 {
                position: absolute;
                top: 12px;
                left: 224px;
                width: 17px;
                height: 6px;
                background: #fff;
                border-radius: 50%;
                transform: rotate(-123deg);
            }
        }
        .tube {
            position: relative;
            top: -13px;
            left: 81px;
            z-index: 1;
            width: 10px;
            height: 6px;
            background: #333;
            border-radius: 30% 0 0 30%;
        }
        .wheel {
            position: relative;
            z-index: 10;
            height: 35px;
            border: 5px solid #333;
            border-radius: 50%;
            background: #fff;

            &::after {
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #333;
            }
            &.leftWheel {
                left: 106px;
                animation: leftwheel 0.4s infinite linear;
            }
            &.rightWheel {
                left: 246px;
                animation: rightwheel 0.4s infinite linear;
            }
            div {
                width: 4px;
                height: 10px;
                background: #353535;
                position: absolute;
                &.line1 {
                    transform: rotate(-54deg);
                    top: 6px;
                    left: 8px;
                }
                &.line2 {
                    transform: rotate(-125deg);
                    left: 8px;
                    top: 19px;
                }
                &.line3 {
                    transform: rotate(-202deg);
                    left: 20px;
                    top: 22px;
                }
                &.line4 {
                    transform: rotate(-270deg);
                    left: 26px;
                    top: 13px;
                }
                &.line5 {
                    transform: rotate(22deg);
                    left: 20px;
                    top: 4px;
                }
            }
        }
        .carHead {
            position: relative;
            width: 163px;
            height: 38px;
            background: #333;
            -webkit-clip-path: polygon(5% 0, 80% 0, 100% 100%, 0 100%);
            animation: smallWindow 0.5s infinite linear;
            .leftWind {
                position: absolute;
                left: 10px;
                top: 8px;
                width: 50px;
                height: 26px;
                background: -webkit-linear-gradient(bottom, #88d6e7, #e4ffff);
                -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
            }
            .rightWind {
                position: absolute;
                left: 69px;
                top: 8px;
                width: 78px;
                height: 26px;
                background: -webkit-linear-gradient(bottom, #88d6e7, #e4ffff);
                -webkit-clip-path: polygon(0% 0, 71% 0, 100% 100%, 0 100%);
            }
        }
        .ball1 {
            position: relative;
            width: 20px;
            height: 25px;
            background: #d72535;
            border-radius: 50%;
            animation: ball1 2s infinite linear;
            animation-direction: alternate;
            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: 14px;
                width: 3px;
                height: 5px;
                background-color: #fff;
                border-radius: 50%;
            }
            &::after {
                content: '';
                position: absolute;
                top: 49px;
                left: -15px;
                width: 50px;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.5);
                transform: rotate(-90deg);
            }
        }
        .ball2 {
            position: relative;
            width: 20px;
            height: 25px;
            background: #fde000;
            border-radius: 50%;
            animation: ball2 2s infinite linear;
            animation-direction: alternate;
            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: 14px;
                width: 3px;
                height: 5px;
                background-color: #fff;
                border-radius: 50%;
            }
            &::after {
                content: '';
                position: absolute;
                top: 60px;
                left: -24px;
                width: 71px;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.5);
                transform: rotate(-90deg);
            }
        }
        .ball3 {
            width: 20px;
            height: 25px;
            background: #0287ca;
            border-radius: 50%;
            position: relative;
            animation: ball3 2s infinite linear;
            animation-direction: alternate;
            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: 14px;
                width: 3px;
                height: 5px;
                background-color: #fff;
                border-radius: 50%;
            }
            &::after {
                content: '';
                position: absolute;
                top: 71px;
                left: -38px;
                width: 95px;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.5);
                transform: rotate(-90deg);
            }
        }
        .weiqi1 {
            position: absolute;
            z-index: 100;
            border-radius: 50%;
            background: #999;
            animation: weiqi 1s infinite linear;
        }
        .weiqi2 {
            position: absolute;
            z-index: 100;
            border-radius: 50%;
            background: #999;
            animation: weiqi 1s infinite linear;
            animation-delay: 0.5s;
        }
    }
    .streetWrap {
        position: absolute;
        overflow: hidden;
        top: 80px;
        width: 100%;
        height: 200px;
        .street {
            position: relative;
            width: 100%;
            height: 200px;
            background: #88d6e7;

            .stone {
                position: relative;
                .stone1 {
                    position: relative;
                    top: 8px;
                    left: 15%;
                    width: 40px;
                    height: 15px;
                    background: #36a3b9;
                    border-radius: 20px 20px 0 0;
                }
                .stone2 {
                    position: relative;
                    top: 40px;
                    left: 35%;
                    width: 20px;
                    height: 10px;
                    background: #36a3b9;
                    border-radius: 10px 10px 0 0;
                }
                .stone3 {
                    position: relative;
                    top: 9px;
                    left: 50%;
                    width: 30px;
                    height: 12px;
                    background: #36a3b9;
                    border-radius: 13px 13px 0 0;
                }
                .stone4 {
                    position: relative;
                    top: -18px;
                    left: 78%;
                    width: 35px;
                    height: 14px;
                    background: #36a3b9;
                    border-radius: 13px 13px 0 0;
                }
            }
            &.street1 {
                animation: street1 4s infinite linear;
            }
            &.street2 {
                top: -200px;
                animation: street2 4s infinite linear;
            }
        }
    }
    .cloudWrap {
        position: absolute;
        top: -320px;
        width: 100%;
        overflow: hidden;
        background: #c5f6f6;
        z-index: -1;
        .cloud1 {
            position: relative;
            animation: cloud1 18s infinite linear;
            width: 250px;
            height: 150px;
            background: url('../../assets/img/cloud1.png') no-repeat;
            background-size: contain;
        }
        .cloud2 {
            position: relative;
            animation: cloud2 18s infinite linear;
            width: 250px;
            height: 150px;
            background: url('../../assets/img/cloud2.png') no-repeat;
            background-size: contain;
        }
        .cloud3 {
            position: relative;
            top: -240px;
            animation: cloud3 18s infinite linear;
            width: 250px;
            height: 150px;
            background: url('../../assets/img/cloud3.png') no-repeat;
            background-size: contain;
        }
        .cloud4 {
            position: relative;
            top: -480px;
            animation: cloud4 18s infinite linear;
            width: 250px;
            height: 150px;
            background: url('../../assets/img/cloud4.png') no-repeat;
            background-size: contain;
        }
    }
}
@keyframes smallWindow {
    0% {
        top: -182px;
        left: 104px;
    }
    100% {
        top: -180px;
        left: 106px;
    }
}
@keyframes car {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 2px;
        left: 2px;
    }
}
@keyframes leftwheel {
    0% {
        top: -23px;
        transform: rotate(0deg);
        width: 35px;
    }
    100% {
        top: -25px;
        transform: rotate(360deg);
        width: 38px;
    }
}
@keyframes rightwheel {
    0% {
        top: -68px;
        transform: rotate(0deg);
        width: 35px;
    }
    100% {
        top: -70px;
        transform: rotate(360deg);
        width: 38px;
    }
}
@keyframes ball1 {
    0% {
        transform: rotate(-45deg);
        top: -239px;
        left: 52px;
    }
    100% {
        transform: rotate(-30deg);
        top: -251px;
        left: 65px;
    }
}
@keyframes ball2 {
    0% {
        transform: rotate(-20deg);
        top: -297px;
        left: 67px;
    }
    100% {
        transform: rotate(-45deg);
        top: -279px;
        left: 36px;
    }
}
@keyframes ball3 {
    0% {
        transform: rotate(-30deg);
        top: -337px;
        left: 44px;
    }
    100% {
        transform: rotate(-60deg);
        top: -298px;
        left: 5px;
    }
}
@keyframes street1 {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
@keyframes street2 {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes cloud1 {
    0% {
        left: 10%;
    }
    15% {
        left: -20%;
    }
    15.05% {
        left: 180%;
    }
    100% {
        left: 10%;
    }
}
@keyframes cloud2 {
    0% {
        left: 75%;
        top: -160px;
    }
    47.5% {
        left: -20%;
        top: -140px;
    }
    47.55% {
        left: 180%;
    }
    100% {
        left: 75%;
        top: -160px;
    }
}
@keyframes cloud3 {
    0% {
        left: 125%;
    }
    72.5% {
        left: -20%;
    }
    72.55% {
        left: 180%;
    }
    100% {
        left: 125%;
    }
}
@keyframes cloud4 {
    0% {
        left: 170%;
    }
    95% {
        left: -20%;
    }
    95.05% {
        left: 180%;
    }
    100% {
        left: 170%;
    }
}
@keyframes weiqi {
    0% {
        opacity: 1;
        top: 42px;
        left: 80px;
        width: 5px;
        height: 5px;
    }
    100% {
        top: 15px;
        left: 50px;
        opacity: 0;
        width: 20px;
        height: 20px;
    }
}
