.container {
    float: left;
    margin-right: 90px;
    width: 300px;
    height: 300px;
    text-align: center;
    .content {
        width: 200px;
        height: 200px;
        background: url('../../assets/img/clip_bg.jpg') no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
    .title {
        color: #333;
        display: inline-block;
        margin-top: 20px;
    }
    .message {
        -webkit-clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 75%,
            75% 75%,
            75% 100%,
            50% 75%,
            0% 75%
        );
    }
    .triangle {
        -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    }
    .trapezoid {
        -webkit-clip-path: polygon(20% 10%, 80% 10%, 100% 90%, 0% 90%);
    }
    .parallelogram {
        -webkit-clip-path: polygon(20% 10%, 80% 10%, 60% 90%, 0% 90%);
    }
    .rhombus {
        -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    .pentagon {
        -webkit-clip-path: polygon(
            50% 0%,
            100% 40%,
            80% 100%,
            20% 100%,
            0% 40%
        );
    }
    .hexagon {
        -webkit-clip-path: polygon(
            20% 5%,
            80% 5%,
            100% 50%,
            80% 95%,
            20% 95%,
            0% 50%
        );
    }
    .octagon {
        -webkit-clip-path: polygon(
            30% 0%,
            70% 0%,
            100% 30%,
            100% 70%,
            70% 100%,
            30% 100%,
            0% 70%,
            0% 30%
        );
    }
    .rabbet {
        -webkit-clip-path: polygon(
            20% 0%,
            80% 0%,
            80% 20%,
            100% 20%,
            100% 80%,
            80% 80%,
            80% 100%,
            20% 100%,
            20% 80%,
            0% 80%,
            0% 20%,
            20% 20%
        );
    }
    .cross {
        -webkit-clip-path: polygon(
            40% 0%,
            60% 0%,
            60% 20%,
            90% 20%,
            90% 40%,
            60% 40%,
            60% 100%,
            40% 100%,
            40% 40%,
            10% 40%,
            10% 20%,
            40% 20%
        );
    }
    .leftArrow {
        -webkit-clip-path: polygon(
            30% 0%,
            30% 20%,
            100% 20%,
            100% 80%,
            30% 80%,
            30% 100%,
            0% 50%
        );
    }
    .rightArrow {
        -webkit-clip-path: polygon(
            70% 0%,
            100% 50%,
            70% 100%,
            70% 80%,
            0% 80%,
            0% 20%,
            70% 20%
        );
    }
    .leftPoint {
        -webkit-clip-path: polygon(
            10% 0%,
            30% 0%,
            80% 50%,
            30% 100%,
            10% 100%,
            60% 50%
        );
    }
    .rightPoint {
        -webkit-clip-path: polygon(
            0% 50%,
            50% 0%,
            70% 0%,
            20% 50%,
            70% 100%,
            50% 100%
        );
    }
    .star {
        -webkit-clip-path: polygon(
            50% 0%,
            63% 38%,
            100% 38%,
            69% 59%,
            82% 100%,
            50% 75%,
            18% 100%,
            31% 59%,
            0 38%,
            37% 38%
        );
    }
    .close {
        -webkit-clip-path: polygon(
            20% 0%,
            0% 20%,
            30% 50%,
            0% 80%,
            20% 100%,
            50% 70%,
            80% 100%,
            100% 80%,
            70% 50%,
            100% 20%,
            80% 0%,
            50% 30%
        );
    }
    .complex {
        -webkit-clip-path: polygon(
            10% 0%,
            90% 0%,
            95% 5%,
            95% 10%,
            100% 12%,
            100% 88%,
            95% 90%,
            95% 95%,
            90% 100%,
            10% 100%,
            5% 95%,
            5% 90%,
            0% 88%,
            0% 12%,
            5% 10%,
            5% 5%
        );
    }
    .animateCom {
        width: 200px;
        height: 200px;
        background: url('../../assets/img/clip_bg.jpg') no-repeat;
        background-size: cover;
        margin: 0 auto;
        transition: 0.5s -webkit-clip-path;
        -webkit-clip-path: polygon(
            50% 0%,
            100% 0%,
            100% 38%,
            100% 100%,
            82% 100%,
            50% 100%,
            18% 100%,
            0% 100%,
            0% 38%,
            0% 0%
        );
        &:hover {
            -webkit-clip-path: polygon(
                50% 0%,
                63% 38%,
                100% 38%,
                69% 59%,
                82% 100%,
                50% 75%,
                18% 100%,
                31% 59%,
                0% 38%,
                37% 38%
            );
        }
    }
}
