.eachRow {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    .tit {
        margin-right: 17px;
        text-align: right;
        width: 95px;
        font-size: 28px;
        color: #c9fcff;
    }
    .graBox {
        display: flex;
        align-items: center;
        margin-right: 11px;
        .start {
            flex: 1;
            color: #089eeb;
            width: 1px;
        }
        .gra {
            width: 838px;
            height: 3px;
            background-image: linear-gradient(
                90deg,
                #089eeb 10%,
                #edbb06 61%,
                #d9a20d 80%,
                #db0909 97%
            );
        }
        .dot {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: #db0909;
        }
    }
    .num {
        font-weight: 500;
        font-size: 28px;
        color: #3ef4fe;
    }
}
