.labelBox {
    background: #102422;
    width: 300px;
    height: 250px;
    .labelList {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        .labelItem {
            margin-top: 9px;
            margin-right: 12px;
            padding: 0 12px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #70fcb8;
            border-radius: 2px;
            font-size: 20px;
            color: #70fcb8;
        }
    }
}
