.main {
    position: relative;
    left: -125px;
    .colorLine {
        position: absolute;
        top: 13px;
        transform: skew(-10deg);
        background-image: linear-gradient(
            90deg,
            #089eeb 2%,
            #d9a20d 67%,
            #db0909 80%
        );
    }
    .list {
        position: absolute;
        top: 13px;
        > div {
            float: left;
            background-color: #022328;
            transform: skew(-10deg);
        }
        div:nth-child(2n-1) {
            background: #034145;
        }
        div:last-child {
            margin: 0;
        }
    }
    .num {
        position: absolute;
        font-family: NUMBER1;
        overflow: hidden;
        line-height: 1;
    }
}
