.active {
    background-color: red;
}
.basicBgc {
    background-color: green;
}
.dot {
    animation: switchColor 0.1s;
    ::after {
        animation: '';
    }
}
@keyframes switchColor {
    0% {
        background-color: green;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: green;
    }
}
