.smokeBox {
    overflow: hidden;
    padding: 16px 5px 46px 24px;
    width: 1141px;
    height: 600px;
    background: url(/src/modules/smokeIndex/bg.png) no-repeat;
    .tit {
        padding-bottom: 16px;
        width: 1081px;
        text-align: left;
        font-size: 40px;
        color: #3ef4fe;
        border-bottom: 2px solid #03737b;
    }
    .num {
        font-size: 36px;
        color: #3ef4fe;
        text-align: left;
    }
    .itemBox {
        margin-top: 50px;
    }
}
